src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:american-flight-api="http://www.mulesoft.org/schema/mule/american-flight-api"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/american-flight-api http://www.mulesoft.org/schema/mule/american-flight-api/current/mule-american-flight-api.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<sub-flow name="setCode" doc:id="68059fd2-0c3d-4e75-8a81-e59c163d9ede" >
		<set-variable value="#[message.attributes.queryParams.code as String default 'SFO']" doc:name="code" doc:id="cace370f-5b83-440a-acdd-eba62a9d2f84" variableName="code"/>
	</sub-flow>
	<flow name="getUnitedFlights" doc:id="0f5e4baf-647c-4772-824b-c562defa948a" >
		<http:listener doc:name="GET /united" doc:id="9931aec3-5d3e-4141-b01f-4fb57ad7c9b7" config-ref="HTTP_Listener_config" path="/united"/>
		<flow-ref doc:name="setCode" doc:id="097a489b-a13b-4f71-b13b-f130c8331a58" name="setCode"/>
		<http:request method="GET" doc:name="Get flights" doc:id="698c674e-193d-4de9-9c5d-1b430a7496b3" config-ref="HTTP_Request_configuration" path="/united/flights/{dest}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"dest" : vars.code
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="3df2992f-3651-4689-aff1-302ede1cd343" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload.flights map ( flight , indexOfFlight ) -> {
	airlineName: flight.airlineName,
	availableSeats: flight.emptySeats,
	departureDate: flight.departureDate,
	destination: flight.destination,
	flightCode: flight.code,
	origination: flight.origin,
	planeType: flight.planeType,
	price: flight.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="59d18132-1160-46c9-acb2-fbf4b91187b4" />
	</flow>
	<flow name="getDeltaFlights" doc:id="010e652d-ffa1-4a99-b26d-da67c0b70414" >
		<http:listener doc:name="GET /delta" doc:id="f4c0b8fa-1b12-406d-ab4d-b66aaccb6c72" config-ref="HTTP_Listener_config" path="/delta"/>
		<flow-ref doc:name="setCode" doc:id="54cbe24e-d1bd-4891-849e-671f1184d289" name="setCode"/>
		<ee:transform doc:name="pass code" doc:id="3a589b78-f4e6-495a-8ee7-59d0e14b3ff4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://soap.training.mulesoft.com/
---
{
	ns0#findFlight: {
		destination: vars.code
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="findFlight" doc:name="GetFlights" doc:id="8740f470-58d0-4cdc-a14e-6e71199c3c70" config-ref="Web_Service_Consumer_Config" />
		<ee:transform doc:name="soap to [flight]" doc:id="176cfd0f-d7b3-4c10-8e80-226a7ea66865">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/java
ns ns0 http://soap.training.mulesoft.com/
---
payload.body.ns0#findFlightResponse.*return map ( return , indexOfReturn ) -> {
	airlineName: return.airlineName,
	availableSeats: return.emptySeats,
	departureDate: return.departureDate,
	destination: return.destination,
	flightCode: return.code,
	origination: return.origin,
	planeType: return.planeType,
	price: return.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="cce50222-2670-4086-94a5-6a4e8bd48cab" message="#[payload]"/>
	</flow>
	<flow name="getAmericanFlights" doc:id="41d978d2-2a76-4e22-929c-4102f0fc3442" >
		<http:listener doc:name="GET /american" doc:id="cf90a3aa-1f83-44d4-8493-d1383e632f64" config-ref="HTTP_Listener_config" path="/american"/>
		<flow-ref doc:name="Flow Reference" doc:id="b678f5b7-fd56-41a8-9016-c1a17cd06c90" name="setCode"/>
		<american-flight-api:get-flights doc:name="Get flights" doc:id="02167903-a98a-461d-901e-bcc58e4effd0" config-ref="American_flight_api_Config" client-id="${american.client_id}" client-secret="${american.client_secret}" destination="#[vars.code]"/>
		<ee:transform doc:name="Transform Message" doc:id="0f3de1ac-532b-4638-b4cd-819ac582c35d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map ( payload01 , indexOfPayload01 ) -> {
	airlineName : "American",
	availableSeats: payload01.emptySeats,
	departureDate: payload01.departureDate,
	destination: payload01.destination,
	flightCode: payload01.code,
	origination: payload01.origin,
	planeType: payload01.plane."type",
	price: payload01.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="e451315d-dca7-4d78-a172-64913d34bfa1" />
	</flow>
</mule>
